/* Global transition duration */
.work-type-filter-link,
.work-service-filter-button {
  font-size-adjust: from-font;
}

.work-list-item.item-hidden {
  display: none;
}

.home-nav.nav-transparent .nav_main  {
  background-color: transparent;
}

.world-list-item.item-hidden {
  display: none;
}

/* Zoom effect for grid hover items */
.grid-hover-item {
  overflow: hidden;
}

.grid-hover-item img {
  transition-delay: 1s;
  transition: transform 1s ease-out;
}
  
.grid-hover-item.grid-hover-item-zoom img {
  transform: scale(0.9);
}

.we-do-item {
  width: fit-content !important;
}

.beer-slider {
  height: 100% !important;
}
.beer-slider,
.beer-slider>img {
  width: 100% !important;
}

.beer-range::-webkit-slider-thumb {
  -webkit-appearance: auto;
}

.w-richtext a {
  text-decoration: underline;
  color: var(--red);
}

.web-lottie-container {
  position: sticky;
  top: 2rem;
}